/*footer*/


footer{
    background-color: #e8f1f8;
    display: grid;
    justify-items: center;
    font-size: 20px;

}
footer img{
    padding: 10px;
}

.git-logo{
    height: 60px;
    width: 60px;
}
.rs-logo{
    height: 80px;
    width: 80px;
}
.rs-school{
    display: flex;
    align-items: center;
}