.nav-menu li{
    list-style: none;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-menu a{
    font-weight: bold;
}

.nav-menu li:hover{
    background-color: #e8f1f8;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding-inline-start:0;
    margin: 0;
}

header{
    width: 100%;
}
header .place-for-logo{
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #e8f1f8;
    padding: 20px 130px;
}

#toggle{
    display: none;
}

.toggle-menu{
    display: none;
}

.bar {
    width: 35px;
    height: 5px;
    margin: 6px 0;
    display: grid;
    background-color: #38618c;
    transition: 0.3s;
}

nav label{
    top: 10px;
    display: flex;
    right: 20px;
    padding: 7px 10px;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    z-index: 2;
    position: absolute;
}


@media screen and (max-width: 640px) {
    .overlay {
        display: none;
    }

    .toggle-menu {
            display: block;
    }
    nav:hover .bar{
        background-color: white;
    }

    #toggle:hover ~ .overlay, .overlay:hover {
        display: block;
        height: auto;
        width: 100%;
        position: absolute;
        z-index: 1;
        right: 0;
        top: 0;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.6);
        overflow-x: hidden;
        transition: 0.5s;
        font-weight: bold;
    }
    .overlay a{
        color: white;
    }

    .overlay li:hover{
        background-color: #0c2e4d;
    }

   .nav-menu {
        position: relative;
        width: 100%;
        text-align: center;
        padding-top: 60px;
        grid-template-columns:1fr;
    }

}

